@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
body {
  background-color: #d6f1ff;
  background-image: linear-gradient(to bottom, transparent, #ffffff), linear-gradient(to right, transparent, #e4f3fd), url("./components/images/background.webp");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
}

.titleBox {
  display: flex;
  justify-content: center;
  background-color: transparent;
}
.titleBox .titlePicture {
  max-width: 500px;
}

.navBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  text-decoration: none;
  font-family: "Rock Salt", cursive;
}
.navBox div {
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  align-self: center;
  border-radius: 10px;
  font-weight: 800;
  font-size: 0.7rem;
  color: #70d1fe;
}
.navBox div:hover {
  background-color: #ffffff;
  color: #fed90f;
}
.navBox .link {
  text-decoration: none;
  color: inherit;
  height: 100%;
}

.characterCard {
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  width: 90%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 140px 4fr;
  border-radius: 20px;
  border: 4px solid white;
  text-decoration: none;
  font-family: "Rock Salt", cursive;
  font-weight: 600;
}
.characterCard .buttonBox {
  justify-self: center;
  align-self: center;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.characterCard .characterName {
  justify-self: center;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  color: #fed90f;
  text-shadow: -2px 2px #ffffff;
}

.characterCard.Right {
  background-color: rgba(112, 209, 254, 0.7450980392);
}
.characterCard.Right .characterQuote {
  justify-self: center;
  align-self: center;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 30px;
}
.characterCard.Right .characterImage {
  justify-self: center;
  align-self: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.characterCard.Left {
  background-color: rgba(212, 194, 156, 0.6156862745);
}
.characterCard.Left .characterQuote {
  justify-self: center;
  align-self: center;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 30px;
}
.characterCard.Left .characterImage {
  justify-self: center;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.characterCard.true {
  border: 4px solid #fed90f;
}

.spinnerBox {
  display: flex;
  justify-content: center;
}
.spinnerBox .lds-ellipsis {
  display: flex;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
}
.spinnerBox .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #70d1fe;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.spinnerBox .lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.spinnerBox .lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.spinnerBox .lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.spinnerBox .lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.interfaceBox {
  background-color: transparent;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
}
.buttonBox .button {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.buttonBox .button.on {
  color: #fed90f;
}
.buttonBox .button.delete:hover {
  color: #fed90f;
}

.searchCountBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 50px;
  align-items: center;
  padding: 10px;
  width: 90%;
  max-width: 800px;
  margin: auto;
}
.searchCountBox .filterBox {
  height: 40px;
  font-family: "Rock Salt", cursive;
  color: #70d1fe;
  text-shadow: -2px 2px #ffffff;
  padding: 10px;
}
.searchCountBox .searchBox {
  min-height: 40px;
  font-family: "Rock Salt", cursive;
  color: #70d1fe;
  text-shadow: -2px 2px #ffffff;
  display: flex;
  align-content: center;
  text-align: center;
  padding: 10px;
}
.searchCountBox .countBox {
  font-family: "Rock Salt", cursive;
  font-weight: 600;
  color: #70d1fe;
  text-shadow: -2px 2px #ffffff;
  display: flex;
  align-self: center;
  padding: 10px;
}
.searchCountBox .countBox .countTotalIcon {
  margin-right: 10px;
  align-self: center;
}/*# sourceMappingURL=App.css.map */