.titleBox {
  max-width: 100vw;
}

.navBox {
  display: flex;
  flex-direction: row;
  background-color: #fed90f;
  text-decoration: none;
  div {
    margin: 10px;
    text-decoration: none;
    text-align: center;
    align-self: center;
  }
  div:hover {
    background-color: #ffffff;
    color: #70d1fe;
  }
}
